services:
  # Aplicação NestJS para desenvolvimento
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: momentum-app-dev
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: development
      PORT: 3000
    ports:
      - '3000:3000'
      - '9229:9229' # Porta para debug
    volumes:
      - .:/app
      - /app/node_modules
      - ./uploads:/app/uploads
    command: npm run start:dev
