services:
  # Aplicação NestJS
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: momentum-app
    restart: unless-stopped
    env_file:
      - .env
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - '3000:3000'
    volumes:
      - ./uploads:/app/uploads
    healthcheck:
      test: ['CMD-SHELL', 'curl -f http://localhost:3000/health || exit 1']
      interval: 30s
      timeout: 10s
      retries: 3
